/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
* {
  @apply box-border m-0 p-0;
}
/* style.css */
.highlight {
  outline: 3px solid rgba(255, 165, 0, 0.8); /* Example: Orange outline */
  box-shadow: 0 0 15px rgba(255, 165, 0, 0.5); /* Soft orange shadow */
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;700&display=swap");

:root {
  --primaryColor: #d0bca0; /* Light beige */
  --secondaryColor: #d19a9a; /* Light red */
  --bgColor: #3e3d38; /* Dark gray */
  --darkDark: #1e201e; /* Almost black */
  --lightDark: #3c3d37; /* Darker gray */
  --tertiaryColor: #7d7d7d; /* Gray */
}
/* Custom Scrollbar Styles */

body {
  @apply bg-[color:var(--darkDark)];

  /* height: 100vh; */
}

.phone-block {
  @apply hidden;
}
.joke-heading {
  @apply text-2xl text-[color:var(--primaryColor)] text-center mx-0 my-5;
  font-family: "Poppins", sans-serif;
}
#reveal-not-phone {
  @apply absolute right-0 bottom-0;
}
.container-card {
  @apply flex justify-center items-center w-full h-full;
  perspective: 1000px;
}
.card {
  @apply w-full h-full cursor-pointer transition-transform duration-[0.6s];

  /* position: relative; */

  /* existing transition */
  transform-style: preserve-3d;

  /* existing style */
}
.card-inner {
  @apply w-full h-full transition-transform duration-[0.6s];

  /* position: absolute; */

  /* existing transition */
  transform-style: preserve-3d;

  /* existing style */
}

/* Add this */
.card:hover .card-inner {
  transform: rotateY(180deg);
}

/* Media queries for responsiveness */
.card-front,
.card-back {
  @apply absolute w-full h-full flex justify-center items-center text-xl shadow-[0_4px_8px_rgba(0,0,0,0.2)] p-2.5 rounded-[10px];
  backface-visibility: hidden;
}
.card-front {
  @apply bg-[color:var(--bgColor)] text-[#333];
}
.card-front #jokeQuestion {
  @apply font-[bold] not-italic text-[2rem] leading-8 text-[color:var(--primaryColor)];
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.card-front #reveal {
  @apply hidden;
}
.card-front #reveal-not-phone {
  @apply text-[color:var(--primaryColor)];
  font-family: "Playfair Display", serif;
}
.card-back {
  @apply bg-[color:var(--primaryColor)] text-[color:var(--darkDark)] font-[bold] not-italic text-[2rem] leading-8;
  transform: rotateY(180deg);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
a {
  @apply no-underline text-[color:var(--darkDark)];
}
/* --------------------------------------- */
/* Navbar Section */
/* --------------------------------------- */
.nav-bar {
  @apply h-[10vh] flex justify-between items-center relative bg-[color:var(--primaryColor)] m-2.5 px-[25px] py-3 rounded-[10px];

  /* width: 95%; */
  list-style: none;
}
/* logo_text */
.logo a {
  @apply no-underline text-[color:var(--darkDark)] text-[35px] font-semibold;
  font-family: "Playfair Display", serif;
}
.nav-bar .logo span {
  @apply italic font-[10] ml-0.5;
}
.menu {
  @apply flex;
}
.menu li {
  @apply pl-[30px];
}
/* list links */
.menu li a {
  @apply font-[405] text-[15px] not-italic inline-block no-underline text-[color:var(--lightDark)] text-center transition-[0.15s] duration-[ease-in-out] relative uppercase after:content-[""] after:absolute after:w-0 after:h-px after:bg-[color:var(--darkDark)] after:transition-[0.15s] after:duration-[ease-in-out] after:left-0 after:bottom-0 hover:after:w-full;
  font-family: "Poppins", sans-serif;

  /* haha  */
}
.open-menu,
.close-menu {
  @apply absolute text-[color:var(--darkDark)] cursor-pointer text-2xl hidden;
}
.open-menu {
  @apply -translate-y-2/4 right-5 top-2/4;
}
.close-menu {
  @apply right-5 top-5;
}
#check {
  @apply hidden;
}
@media (max-width: 610px) {
  .menu {
    @apply flex-col items-center justify-center w-4/5 h-screen fixed z-[100] bg-[color:var(--primaryColor)] transition-all duration-[0.2s] ease-[ease-in-out] -right-full top-0;
  }
  .menu li {
    @apply mt-10;
  }
  .menu li a {
    @apply p-2.5;
  }
  .open-menu,
  .close-menu {
    @apply block;
  }
  #check:checked ~ .menu {
    @apply right-0;
  }
}
/* --------------------------------------- */
/* Body Section */
/* --------------------------------------- */

/* --------------------------------------- */
/* slogan section layout */
/* --------------------------------------- */
.item {
  @apply bg-[color:var(--primaryColor)] rounded-[10px];
}
.v1-container {
  @apply w-full h-[85vh] grid gap-3 grid-cols-[repeat(7,1fr)] grid-rows-[repeat(7,1fr)] pt-0  px-2.5;

  /* min-height: 500px; */
  grid-template-areas:
    "slogan       slogan      slogan      photo     photo     music     music"
    "slogan       slogan      slogan      photo     photo     music     music"
    "slogan       slogan      slogan      photo     photo     music     music"
    "slogan       slogan      slogan      photo     photo     music     music"
    "details      details     contact     contact   contact   music     music"
    "details      details     contact     contact   contact   music     music"
    "details      details     contact     contact   contact   social    social";
}
.item1 {
  grid-area: slogan;
}
.item2 {
  grid-area: photo;
}
.item3 {
  grid-area: music;
}
.item4 {
  grid-area: details;
}
.item5 {
  grid-area: contact;
}
.item6 {
  grid-area: social;
}

/* --------------------------------------- */
/* slogan section elements */
/* --------------------------------------- */

/* --------------------------------------- */
/* image div css */
/* --------------------------------------- */
.item2 {
  @apply bg-[color:var(--bgColor)] text-center w-full relative overflow-hidden;

  /* padding-right: 50px; */
}
.item2 img {
  @apply absolute w-auto h-full -translate-x-2/4 left-2/4 bottom-0;
}

/* --------------------------------------- */
/* slogan div css */
/* --------------------------------------- */
.item1 {
  @apply relative;
}
.main_slogan {
  @apply font-bold font-playfair not-italic text-[2rem] leading-8 absolute ml-2.5 mr-[90px] mt-0 mb-[50px] left-2.5 bottom-0;

  font-optical-sizing: auto;
}
.item1 span {
  @apply font-light font-playfair italic;
}
.item1 img {
  @apply absolute h-[110px] right-0;
}

/* --------------------------------------- */
/* intro div css */
/* --------------------------------------- */
.item4 {
  @apply relative;
}
.item4 p {
  @apply font-[405] font-poppins text-sm not-italic absolute ml-5 mr-[50px] mt-0 mb-[30px] bottom-0;

  /* left: 10p; */
}
.item4 img {
  @apply h-[50px] ml-2.5 mr-0 mt-2.5 mb-0;
}

/* --------------------------------------- */
/* contact me div css */
/* --------------------------------------- */
.item5 {
  @apply bg-[color:var(--bgColor)] relative;
}
.item5 .questions {
  @apply font-[405] text-[13px] not-italic text-[color:var(--primaryColor)] leading-[15px] ml-5 mr-0 mt-5 mb-0;
  font-family: "Poppins", sans-serif;
}
.item5 .contact_me {
  @apply font-medium font-bodoni not-italic text-[50px] text-[color:var(--primaryColor)] absolute ml-5 mr-0  my-5 bottom-0;
  font-optical-sizing: auto;
}
.item5 span {
  @apply font-light italic font-playfair;
}
.item5 img .another_img {
  @apply absolute h-10 ml-0 mr-2.5 mt-2.5 mb-0 right-0;
}

/* --------------------------------------- */
/* playlist div css */
/* --------------------------------------- */
.item3 {
  @apply relative flex flex-col justify-between pb-[30px];

  /* margin-bottom: 50px; */
}
.item3 .title {
  @apply absolute font-extrabold font-bodoni not-italic text-[17px] text-[color:var(--darkDark)] ml-5 mr-0 mt-5 mb-0;
  font-optical-sizing: auto;
}
.item3 .arrow {
  @apply absolute h-[5%] ml-0 mr-5 mt-[23px] mb-0 right-0;
}
.item3 .bharat_chauhan_img {
  @apply w-[90%] block mt-[50px] mb-0 mx-0 mx-auto rounded-[20px];

  /* height: 150px; */
}
.item3 .line {
  @apply h-px w-[90%] block bg-[color:var(--lightDark)] mx-auto rounded-[20px] border-none;

  /* margin-top: 20px; */
}
.item3 .music {
  @apply font-extrabold font-bodoni not-italic text-[1.2rem] ml-[15px];
  font-optical-sizing: auto;
}

/* --------------------------------------- */
/* social media links div css */
/* --------------------------------------- */
.item6 {
  @apply flex flex-row justify-around items-center relative;
}
.item6 p {
  @apply font-[405] font-poppins text-[13px] not-italic text-[color:var(--darkDark)];
}

head .icon_img {
  @apply rounded-[50px];
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* grid responsiveness css */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* media query for tablet devices (920px) */
/* --------------------------------------- */

/* --------------------------------------- */
/* Media Queries for Different Screen Sizes */
/* --------------------------------------- */
@media (min-width: 200px) and (max-width: 240px) {
  .v1-container {
    @apply h-[200vh] grid-cols-[repeat(7,1fr)] grid-rows-[repeat(16,1fr)];
    grid-template-areas:
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "social   social    social    social    social    social    social";
  }
  .item5 .contact_me {
    @apply text-[2.5rem] leading-[20px]; /* Adjusted font size */
  }
  .nav-bar .logo a p {
    @apply text-xl;
  }
  .nav-bar .logo span {
    @apply hidden;
  }
  /* .nav-bar .logo span {
    @apply hidden;
  } */
  .card-front #jokeQuestion,
  .card-back {
    @apply text-[.8rem] leading-[1rem] mb-[24px]; /* Adjusted font size */
  }
  .card-front #reveal-not-phone,
  .card-front #reveal {
    @apply text-[.6rem] leading-[1.1rem] mb-[24px];
  }

  .item1 .main_slogan {
    @apply text-[1rem] leading-[1rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[10px] ml-[8px] mt-[5px] leading-[10px] mr-[10px] w-full pr-[10px]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
  .nav-bar .logo a {
    @apply text-3xl;
  }
}

@media (min-width: 241px) and (max-width: 360px) {
  .v1-container {
    @apply h-[200vh] grid-cols-[repeat(7,1fr)] grid-rows-[repeat(16,1fr)];
    grid-template-areas:
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "social   social    social    social    social    social    social";
  }
  .item5 .contact_me {
    @apply text-[2.5rem] leading-[20px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion,
  .card-back {
    @apply text-[1rem] leading-[1.1rem] mb-[24px]; /* Adjusted font size */
  }
  .card-front #reveal-not-phone,
  .card-front #reveal {
    @apply text-[.7rem] leading-[1.1rem] mb-[24px];
  }

  .item1 .main_slogan {
    @apply text-[1.2rem] leading-[1.4rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[.5rem] mb-[15px] leading-[.6rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
  .nav-bar .logo a {
    @apply text-3xl;
  }
}

@media (min-width: 361px) and (max-width: 420px) {
  .v1-container {
    @apply h-[200vh] grid-cols-[repeat(7,1fr)] grid-rows-[repeat(16,1fr)];
    grid-template-areas:
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "social   social    social    social    social    social    social";
  }
  .item5 .contact_me {
    @apply text-[3rem] leading-[20px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion {
    @apply text-[1.2rem] leading-[1.2rem] mb-[24px]; /* Adjusted font size */
  }
  .card-back {
    @apply text-[1.2rem] leading-[1.2rem] mb-[24px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[.6rem] mb-[15px] leading-[.8rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
  .nav-bar .logo a {
    @apply text-3xl;
  }
}

@media (min-width: 421px) and (max-width: 480px) {
  .v1-container {
    @apply h-[200vh] grid-cols-[repeat(7,1fr)] grid-rows-[repeat(16,1fr)];
    grid-template-areas:
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "social   social    social    social    social    social    social";
  }
  .item5 .contact_me {
    @apply text-[3rem] leading-[20px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion {
    @apply text-[1.5rem] leading-[1.5rem] mb-[24px]; /* Adjusted font size */
  }
  .card-back {
    @apply text-[1.2rem] leading-[1.2rem] mb-[24px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[2rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[.7rem] mb-[15px] leading-[.8rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
  .nav-bar .logo a {
    @apply text-3xl;
  }
}

@media (min-width: 481px) and (max-width: 620px) {
  .v1-container {
    @apply grid-cols-[repeat(7,1fr)] grid-rows-[repeat(7,1fr)];
    grid-template-areas:
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   social    social";
  }
  .item5 .contact_me {
    @apply text-[1.5rem] leading-[20px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion {
    @apply text-[1.2rem] leading-[1.2rem] mb-[24px]; /* Adjusted font size */
  }
  .card-back {
    @apply text-[1.2rem] leading-[1.2rem] mb-[24px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[1rem] leading-[1rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[.7rem] mb-[15px] leading-[.7rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
}

@media (min-width: 621px) and (max-width: 752px) {
  .v1-container {
    @apply grid-cols-[repeat(7,1fr)] grid-rows-[repeat(7,1fr)];
    grid-template-areas:
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   social    social";
  }
  .item5 .contact_me {
    @apply text-[2rem] leading-[32px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .card-back {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[1.2rem] leading-[1.3rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[.6rem] mb-[15px] leading-[1rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
}

@media (min-width: 753px) and (max-width: 920px) {
  .v1-container {
    @apply grid-cols-[repeat(7,1fr)] grid-rows-[repeat(7,1fr)];
    grid-template-areas:
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   social    social";
  }
  .item5 .contact_me {
    @apply text-[2rem] leading-[32px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .card-back {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[1.5rem] leading-[1.5rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[.8rem] mb-[15px] leading-[1.2rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
}

@media (min-width: 921px) and (max-width: 1024px) {
  .item5 .contact_me {
    @apply text-[3rem] leading-[32px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .card-back {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[1.8rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[0.7rem] mb-[15px] leading-[1rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[10px]; /* Adjusted font size */
  }
}

@media (min-width: 1025px) and (max-width: 1180px) {
  .item5 .contact_me {
    @apply text-[3rem] leading-[32px]; /* Adjusted font size */
  }
  .card-front #jokeQuestion {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .card-back {
    @apply text-[1.7rem] leading-[1.8rem] mb-[24px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[1.8rem] leading-[30px] mb-[25px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[0.7rem] mb-[15px] leading-[1rem]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[11px]; /* Adjusted font size */
  }
}

@media (min-width: 1181px) and (max-width: 1280px) {
  .item5 .contact_me {
    @apply text-[3rem] leading-[32px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[1.8rem] leading-[30px] mb-[25px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[0.8rem] mb-[15px]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[12px]; /* Adjusted font size */
  }
}

@media (min-width: 1281px) and (max-width: 1400px) {
  .item5 .contact_me {
    @apply text-[3rem] leading-[32px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[30px] leading-[30px] mb-[30px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[0.8rem] mb-[20px]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[12px]; /* Adjusted font size */
  }
}

@media (min-width: 1401px) and (max-width: 1536px) {
  .item5 .contact_me {
    @apply text-[3rem] leading-[32px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[2.5rem] leading-[2.4rem] mb-[30px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[1rem] mb-[20px]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[12px]; /* Adjusted font size */
  }
}

@media (min-width: 1537px) and (max-width: 1600px) {
  .item5 .contact_me {
    @apply text-[3rem] leading-[32px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[3rem] leading-[3rem] mb-[35px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[1.2rem] mb-[25px]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[13px]; /* Adjusted font size */
  }
}

@media (min-width: 1601px) {
  .item5 .contact_me {
    @apply text-[60px] leading-[55px]; /* Adjusted font size */
  }
  .item1 .main_slogan {
    @apply text-[3.5rem] leading-[3.5rem] mb-[40px]; /* Adjusted font size */
  }
  .item4 p {
    @apply text-[1.3rem] mb-[30px]; /* Adjusted font size */
  }
  .item6 p {
    @apply text-[14px]; /* Adjusted font size */
  }
}
