/*
  Based on TailwindCSS recommendations,
  consider using classes instead of the `@apply` directive
  @see https://tailwindcss.com/docs/reusing-styles#avoiding-premature-abstraction
*/
* {
  @apply box-border m-0 p-0;

  /* font-family: "Arial black", sans-serif; */
}
:root {
  --primaryColor: #d0bca0;
  --bgColor: #3e3d38;
  --lightDark: #3c3d37;
  --darkDark: #1e201e;
}
body {
  @apply bg-[color:var(--darkDark)];

  /* height: 100vh; */
}
.arrow-icon {
  float: inline-end;
}
.arrow-btn:hover {
  float: inline-end;
}
.project-wrapper {
  @apply flex gap-4 text-2xl ml-4;
}
.project-link-wrapper {
  float: inline-end;
}
.phone-block {
  @apply hidden;
}
.joke-heading {
  @apply text-2xl text-[color:var(--primaryColor)] text-center mx-0 my-5;
  font-family: "Poppins", sans-serif;
}
#reveal-not-phone {
  @apply absolute right-0 bottom-0;
}
.container-card {
  @apply flex justify-center items-center w-full h-full;
  perspective: 1000px;
}
.card {
  @apply w-full h-full cursor-pointer transition-transform duration-[0.6s];

  /* position: relative; */

  /* existing transition */
  transform-style: preserve-3d;

  /* existing style */
}
.card-inner {
  @apply w-full h-full transition-transform duration-[0.6s];

  /* position: absolute; */

  /* existing transition */
  transform-style: preserve-3d;

  /* existing style */
}

/* Add this */
.card:hover .card-inner {
  transform: rotateY(180deg);
}
#revealBtn {
  @apply text-base text-[white] bg-[color:var(--primaryColor)] cursor-pointer transition-[background-color] duration-[0.3s] mt-5 px-5 py-2.5 rounded-[5px] border-[none] hover:bg-[#45a049];
}

/* Media queries for responsiveness */
.card-front,
.card-back {
  @apply absolute w-full h-full flex justify-center items-center text-xl shadow-[0_4px_8px_rgba(0,0,0,0.2)] p-2.5 rounded-[10px];
  backface-visibility: hidden;
}
.card-front {
  @apply bg-[color:var(--bgColor)] text-[#333];
}
.card-front #jokeQuestion {
  @apply font-[bold] not-italic text-[2rem] leading-8 text-[color:var(--primaryColor)];
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.card-front #reveal {
  @apply hidden;
}
.card-front #reveal-not-phone {
  @apply text-[color:var(--primaryColor)];
  font-family: "Playfair Display", serif;
}
.card-back {
  @apply bg-[color:var(--primaryColor)] text-[color:var(--darkDark)] font-[bold] not-italic text-[2rem] leading-8;
  transform: rotateY(180deg);
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
a {
  @apply no-underline text-[color:var(--darkDark)];
}
/* --------------------------------------- */
/* Navbar Section */
/* --------------------------------------- */
.nav-bar {
  @apply h-[10vh] flex justify-between items-center relative bg-[color:var(--primaryColor)] m-2.5 px-[25px] py-3 rounded-[10px];

  /* width: 95%; */
  list-style: none;
}
/* logo_text */
.logo a {
  @apply no-underline text-[color:var(--darkDark)] text-[35px] font-semibold;
  font-family: "Playfair Display", serif;
}
.nav-bar .logo span {
  @apply italic font-[10] ml-0.5;
}
.menu {
  @apply flex;
}
.menu li {
  @apply pl-[30px];
}
/* list links */
.menu li a {
  @apply font-[405] text-[15px] not-italic inline-block no-underline text-[color:var(--lightDark)] text-center transition-[0.15s] duration-[ease-in-out] relative uppercase after:content-[""] after:absolute after:w-0 after:h-px after:bg-[color:var(--darkDark)] after:transition-[0.15s] after:duration-[ease-in-out] after:left-0 after:bottom-0 hover:after:w-full;
  font-family: "Poppins", sans-serif;

  /* haha  */
}
.open-menu,
.close-menu {
  @apply absolute text-[color:var(--darkDark)] cursor-pointer text-2xl hidden;
}
.open-menu {
  @apply -translate-y-2/4 right-5 top-2/4;
}
.close-menu {
  @apply right-5 top-5;
}
#check {
  @apply hidden;
}
@media (max-width: 610px) {
  .menu {
    @apply flex-col items-center justify-center w-4/5 h-screen fixed z-[100] bg-[color:var(--primaryColor)] transition-all duration-[0.2s] ease-[ease-in-out] -right-full top-0;
  }
  .menu li {
    @apply mt-10;
  }
  .menu li a {
    @apply p-2.5;
  }
  .open-menu,
  .close-menu {
    @apply block;
  }
  #check:checked ~ .menu {
    @apply right-0;
  }
}
/* --------------------------------------- */
/* Body Section */
/* --------------------------------------- */

/* --------------------------------------- */
/* slogan section layout */
/* --------------------------------------- */
.item {
  @apply bg-[color:var(--primaryColor)] rounded-[10px];
}
.v1-container {
  @apply w-full h-[85vh] grid gap-2.5 grid-cols-[repeat(7,1fr)] grid-rows-[repeat(7,1fr)] pt-0 pb-2.5 px-2.5;

  /* min-height: 500px; */
  grid-template-areas:
    "slogan       slogan      slogan      photo     photo     music     music"
    "slogan       slogan      slogan      photo     photo     music     music"
    "slogan       slogan      slogan      photo     photo     music     music"
    "slogan       slogan      slogan      photo     photo     music     music"
    "details      details     contact     contact   contact   music     music"
    "details      details     contact     contact   contact   music     music"
    "details      details     contact     contact   contact   social    social";
}
.item1 {
  grid-area: slogan;
}
.item2 {
  grid-area: photo;
}
.item3 {
  grid-area: music;
}
.item4 {
  grid-area: details;
}
.item5 {
  grid-area: contact;
}
.item6 {
  grid-area: social;
}

/* --------------------------------------- */
/* slogan section elements */
/* --------------------------------------- */

/* --------------------------------------- */
/* image div css */
/* --------------------------------------- */
.item2 {
  @apply bg-[color:var(--bgColor)] text-center w-full relative overflow-hidden;

  /* padding-right: 50px; */
}
.item2 img {
  @apply absolute w-auto h-full -translate-x-2/4 left-2/4 bottom-0;
}

/* --------------------------------------- */
/* slogan div css */
/* --------------------------------------- */
.item1 {
  @apply relative;
}
.main_slogan {
  @apply font-[bold] not-italic text-[2rem] leading-8 absolute ml-2.5 mr-[90px] mt-0 mb-[50px] left-2.5 bottom-0;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}
.item1 span {
  @apply font-[lighter] italic;
  font-family: "Playfair Display" "serif";
}
.item1 img {
  @apply absolute h-[110px] right-0;
}

/* --------------------------------------- */
/* intro div css */
/* --------------------------------------- */
.item4 {
  @apply relative;
}
.item4 p {
  @apply font-[405] text-xs not-italic absolute ml-5 mr-[50px] mt-0 mb-[30px] bottom-0;
  font-family: "Poppins", sans-serif;

  /* left: 10p; */
}
.item4 img {
  @apply h-[50px] ml-2.5 mr-0 mt-2.5 mb-0;
}

/* --------------------------------------- */
/* contact me div css */
/* --------------------------------------- */
.item5 {
  @apply bg-[color:var(--bgColor)] relative;
}
.item5 .questions {
  @apply font-[405] text-[13px] not-italic text-[color:var(--primaryColor)] leading-[15px] ml-5 mr-0 mt-5 mb-0;
  font-family: "Poppins", sans-serif;
}
.item5 .contact_me {
  @apply font-medium not-italic text-[50px] text-[color:var(--primaryColor)] absolute ml-5 mr-0 mb-0 my-5 bottom-0;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
}
.item5 span {
  @apply font-[lighter] italic;
  font-family: "Playfair Display" "serif";
}
.item5 img .another_img {
  @apply absolute h-10 ml-0 mr-2.5 mt-2.5 mb-0 right-0;
}

/* --------------------------------------- */
/* playlist div css */
/* --------------------------------------- */
.item3 {
  @apply relative flex flex-col justify-between pb-[30px];

  /* margin-bottom: 50px; */
}
.item3 .title {
  @apply absolute font-extrabold not-italic text-[17px] text-[color:var(--darkDark)] ml-5 mr-0 mt-5 mb-0;
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
}
.item3 .arrow {
  @apply absolute h-[5%] ml-0 mr-5 mt-[23px] mb-0 right-0;
}
.item3 .bharat_chauhan_img {
  @apply w-[90%] block mt-[50px] mb-0 mx-0 mx-auto rounded-[20px];

  /* height: 150px; */
}
.item3 .line {
  @apply h-px w-[90%] block bg-[color:var(--lightDark)] mx-auto rounded-[20px] border-none;

  /* margin-top: 20px; */
}
.item3 .music {
  @apply font-extrabold not-italic text-[1.2rem] ml-[15px];
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
}

/* --------------------------------------- */
/* social media links div css */
/* --------------------------------------- */
.item6 {
  @apply flex flex-row justify-around items-center relative;
}
.item6 p {
  @apply font-[405] text-[13px] not-italic text-[color:var(--darkDark)];
  font-family: "Poppins", sans-serif;
}

/* .item6 p::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: var(--darkDark);
    transition: 0.15s ease-in-out;
  } */
head .icon_img {
  @apply rounded-[50px];
}

/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* grid responsiveness css */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

/* --------------------------------------- */
/* media query for tablet devices (920px) */
/* --------------------------------------- */
@media (max-width: 920px) {
  .v1-container {
    @apply grid-cols-[repeat(7,1fr)] grid-rows-[repeat(7,1fr)];
    grid-template-areas:
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "slogan       slogan      slogan      photo     photo     music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   music     music"
      "details      details     details     contact   contact   social    social";
  }
  .item5 .contact_me {
    @apply text-[40px] leading-[35px];
  }
  .item1 .main_slogan {
    @apply text-[25px] leading-[25px] mb-[25px];
  }
  .item4 p {
    @apply text-[0.8rem] mb-[15px];
  }
  .item6 p {
    @apply text-[11px];
  }
}

/* --------------------------------------- */
/* media query for mobile devices (480px) */
/* --------------------------------------- */
@media (max-width: 720px) {
  .item1 .main_slogan {
    @apply text-[1.2rem] leading-[1.6rem];
  }
}
@media (max-width: 620px) {
  .item1 .main_slogan {
    @apply text-base leading-[1.2rem];
  }
}
@media (max-width: 480px) {
  .v1-container {
    @apply h-[200vh] grid-cols-[repeat(7,1fr)] grid-rows-[repeat(16,1fr)];
    grid-template-areas:
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "slogan   slogan    slogan    slogan    slogan    slogan    slogan"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "photo    photo     photo     details   details   details   details"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "music    music     music     music     music     music     music"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "contact  contact   contact   contact   contact   contact   contact"
      "social   social    social    social    social    social    social";
  }
  .item4 p {
    @apply text-[10px] mr-[15px];
  }
  .item1 .main_slogan {
    @apply text-[35px] leading-[30px];
  }
  .nav-bar .logo a {
    @apply text-3xl;
  }
}
